<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.pms.intf.domain.CommodityPicture" >
  <resultMap id="BaseResultMap" type="com.spfood.pms.intf.domain.CommodityPicture" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="commodity_code" property="commodity.commodityCode" jdbcType="VARCHAR" />
    <result column="picture_show_position" property="pictureShowPosition" jdbcType="INTEGER" />
    <result column="picture_show_order" property="pictureShowOrder" jdbcType="INTEGER" />
    <result column="picture_size" property="pictureSize" jdbcType="VARCHAR" />
    <result column="picture_property" property="pictureProperty" jdbcType="VARCHAR" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commodity_code, picture_show_position, picture_show_order, picture_size, picture_property,picture_url
  </sql>
  
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="commodity != null and commodity.commodityCode != null" >
         AND commodity_code = #{commodity.commodityCode,jdbcType=VARCHAR}
      </if>
      <if test="pictureShowPosition != null" >
         AND picture_show_position = #{pictureShowPosition,jdbcType=INTEGER}
      </if>
      <if test="pictureShowOrder != null" >
         AND picture_show_order = #{pictureShowOrder,jdbcType=INTEGER}
      </if>
      <if test="pictureSize != null" >
         AND picture_size = #{pictureSize,jdbcType=VARCHAR}
      </if>
      <if test="pictureProperty != null" >
         AND picture_property = #{pictureProperty,jdbcType=VARCHAR}
      </if>
      <if test="pictureUrl != null" >
         AND picture_url = #{pictureUrl,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
    select count(id)
     from pms_commodity_picture
    <include refid="Base_Where_Case" />
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
    select 
    <include refid="Base_Column_List" />
     from pms_commodity_picture
    <include refid="Base_Where_Case" />
    
    order by picture_show_position,picture_show_order asc
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_commodity_picture
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from pms_commodity_picture
    where commodity_code = #{commodityCode,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_commodity_picture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
    insert into pms_commodity_picture ( id,
    									commodity_code,
    									picture_show_position, 
      									picture_show_order,
      									picture_size,
      									picture_property,
      									picture_url)
    							values( #{id,jdbcType=BIGINT},
    									#{commodityCode,jdbcType=VARCHAR},
    									#{pictureShowPosition,jdbcType=INTEGER}, 
      									#{pictureShowOrder,jdbcType=INTEGER},
      									#{pictureSize,jdbcType=VARCHAR},
      									#{pictureProperty,jdbcType=VARCHAR},
      									#{pictureUrl,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertList" parameterType="java.util.List">
    insert into pms_commodity_picture ( commodity_code,
    									picture_show_position, 
      									picture_show_order,
      									picture_size,
      									picture_property,
      									picture_url)
    							values 
							    <foreach collection="list" item="item" index="index" separator="," > 
							     (		#{item.commodity.commodityCode,jdbcType=VARCHAR},
							     		#{item.pictureShowPosition,jdbcType=INTEGER}, 
							      		#{item.pictureShowOrder,jdbcType=INTEGER},
							      		#{item.pictureSize,jdbcType=VARCHAR},
							      		#{item.pictureProperty,jdbcType=VARCHAR},
							      		#{item.pictureUrl,jdbcType=VARCHAR}
							      )
							    </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
    insert into pms_commodity_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityCode != null" >
        commodity_code,
      </if>
      <if test="pictureShowPosition != null" >
        picture_show_position,
      </if>
      <if test="pictureShowOrder != null" >
        picture_show_order,
      </if>
      <if test="pictureSize != null" >
        picture_size,
      </if>
      <if test="pictureProperty != null" >
        picture_property,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commodityCode != null" >
        #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureShowPosition != null" >
        #{pictureShowPosition,jdbcType=INTEGER},
      </if>
      <if test="pictureShowOrder != null" >
        #{pictureShowOrder,jdbcType=INTEGER},
      </if>
      <if test="pictureSize != null" >
        #{pictureSize,jdbcType=VARCHAR},
      </if>
      <if test="pictureProperty != null" >
        #{pictureProperty,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
    update pms_commodity_picture
    <set >
      <if test="commodityCode != null" >
        commodity_code = #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureShowPosition != null" >
        picture_show_position = #{pictureShowPosition,jdbcType=INTEGER},
      </if>
      <if test="pictureShowOrder != null" >
        picture_show_order = #{pictureShowOrder,jdbcType=INTEGER},
      </if>
      <if test="pictureSize != null" >
        picture_size = #{pictureSize,jdbcType=VARCHAR},
      </if>
      <if test="pictureProperty != null" >
        picture_property = #{pictureProperty,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.spfood.pms.intf.domain.CommodityPicture" >
	    update pms_commodity_picture
	    set    picture_url = #{pictureUrl,jdbcType=VARCHAR}
	    where  id = #{id,jdbcType=BIGINT}
  </update>
</mapper>