<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.pms.intf.domain.CommodityProperty" >
  <resultMap id="BaseResultMap" type="com.spfood.pms.intf.domain.CommodityProperty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="commdity_code" property="commodityCode" jdbcType="VARCHAR" />
    <result column="commdity_property_name" property="commdityPropertyName" jdbcType="VARCHAR" />
    <result column="commdity_property_value" property="commdityPropertyValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commdity_code, commdity_property_name, commdity_property_value
  </sql>
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="commodityCode != null" >
         AND commdity_code = #{commodityCode,jdbcType=VARCHAR}
      </if>
      <if test="commdityPropertyName != null" >
         AND commdity_property_name = #{commdityPropertyName,jdbcType=VARCHAR}
      </if>
      <if test="commdityPropertyValue != null" >
         AND commdity_property_value = #{commdityPropertyValue,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.spfood.pms.intf.domain.CommodityProperty" >
    select count( id)
     from pms_commodity_property
    <include refid="Base_Where_Case" />
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.spfood.pms.intf.domain.CommodityProperty" >
    select 
    <include refid="Base_Column_List" />
     from pms_commodity_property
    <include refid="Base_Where_Case" />
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_commodity_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_commodity_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertByCommodity" parameterType="com.spfood.pms.intf.domain.Commodity">
    insert into pms_commodity_property (commdity_code,
    									commdity_property_name,
    									commdity_property_value)
    							select 	#{commodityCode,jdbcType=VARCHAR},
    									product_property_name,
    									product_property_value 
    							from  pms_product_property 
    							where product_code = #{product.productCode,jdbcType=VARCHAR}
  </insert>
  
  <insert id="insertSelective" parameterType="com.spfood.pms.intf.domain.CommodityProperty" >
    insert into pms_commodity_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityCode != null" >
        commdity_code,
      </if>
      <if test="commdityPropertyName != null" >
        commdity_property_name,
      </if>
      <if test="commdityPropertyValue != null" >
        commdity_property_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commodityCode != null" >
        #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="commdityPropertyName != null" >
        #{commdityPropertyName,jdbcType=VARCHAR},
      </if>
      <if test="commdityPropertyValue != null" >
        #{commdityPropertyValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.spfood.pms.intf.domain.CommodityProperty" >
    update pms_commodity_property
    <set >
      <if test="commodityCode != null" >
        commdity_code = #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="commdityPropertyName != null" >
        commdity_property_name = #{commdityPropertyName,jdbcType=VARCHAR},
      </if>
      <if test="commdityPropertyValue != null" >
        commdity_property_value = #{commdityPropertyValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.spfood.pms.intf.domain.CommodityProperty" >
    update  pms_commodity_property
    set 	commdity_code = #{commodityCode,jdbcType=VARCHAR},
      		commdity_property_name = #{commdityPropertyName,jdbcType=VARCHAR},
      		commdity_property_value = #{commdityPropertyValue,jdbcType=VARCHAR}
    where 	id = #{id,jdbcType=BIGINT}
  </update>
</mapper>