<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.mms.intf.domain.criteria.ItemServiceForWms" >
  <resultMap id="BaseResultMap" type="com.spfood.mms.intf.domain.criteria.ItemServiceForWms" >

    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_category_code" property="itemCategoryCode" jdbcType="VARCHAR" />
    <result column="item_category_name" property="itemCategoryName" jdbcType="VARCHAR" />
    <result column="item_specification_value" property="itemSpecificationValue" jdbcType="VARCHAR" />
    <result column="item_specification_unit_first" property="itemSpecificationUnitFirst" jdbcType="VARCHAR" />
    <result column="item_specification_unit_first_value" property="itemSpecificationUnitFirstValue" jdbcType="VARCHAR" />
    <result column="item_specification_unit_second" property="itemSpecificationUnitSecond" jdbcType="VARCHAR" />
    <result column="item_specification_unit_second_value" property="itemSpecificationUnitSecondValue" jdbcType="VARCHAR" />
    <result column="item_buy_unit_name" property="itemBuyUnitName" jdbcType="VARCHAR" />
    <result column="item_buy_unit_value" property="itemBuyUnitValue" jdbcType="VARCHAR" />
    <result column="data_source" property="dataSource" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="INTEGER" />
    <result column="item_temperature_zone_name" property="itemTemperatureZoneName" jdbcType="VARCHAR" />
    <result column="item_temperature_zone_code" property="itemTemperatureZoneCode" jdbcType="VARCHAR" />
    <result column="item_status" property="itemStatus" jdbcType="INTEGER" />
    <result column="item_property_name" property="itemPropertyName" jdbcType="VARCHAR" />
    <result column="item_property_value" property="itemPropertyValue" jdbcType="VARCHAR" />
    <result column="item_tax_rate_name" property="itemTaxRateName" jdbcType="VARCHAR" />
    <result column="item_tax_rate_value" property="itemTaxRateValue" jdbcType="VARCHAR" />
    <result column="item_gs1_code" property="itemGs1Code" jdbcType="VARCHAR" />
    <result column="item_show_name" property="itemShowName" jdbcType="VARCHAR" />
    <result column="item_terminal" property="itemTerminal" jdbcType="DECIMAL" />
    <result column="item_composite_flag" property="itemCompositeFlag" jdbcType="INTEGER" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    <result column="item_sales_price" property="itemSalesPrice" jdbcType="DECIMAL" />
    <result column="item_sales_amount" property="itemSalesAmount" jdbcType="INTEGER" />
    <result column="item_quantity" property="itemQuantity" jdbcType="INTEGER" />
    <result column="item_weight" property="itemWeight" jdbcType="DOUBLE" />
    <result column="item_comment" property="itemComment" jdbcType="VARCHAR" />
    <result column="item_product_quantity" property="itemProductQuantity" jdbcType="INTEGER" />
    <result column="item_search_property" property="itemSearchProperty" jdbcType="VARCHAR" />
    <result column="item_product_code" property="itemProductCode" jdbcType="VARCHAR" />
    
    <result column="item_shelf_life" property="itemShelfLife" jdbcType="INTEGER" />
    <result column="item_shelf_life_name" property="itemShelfLifeName" jdbcType="VARCHAR" />
    <result column="item_shelf_life_value" property="itemShelfLifeValue" jdbcType="VARCHAR" />
    <result column="item_sale_date" property="itemSaleDate" jdbcType="INTEGER" />
    <result column="item_sale_date_name" property="itemSaleDateName" jdbcType="VARCHAR" />
    <result column="item_sale_date_value" property="itemSaleDateValue" jdbcType="VARCHAR" />
    <result column="item_raw_materials_specification" property="itemRawMaterialsSpecification" jdbcType="VARCHAR" />
  </resultMap>

  
  <select id="select" resultMap="BaseResultMap" parameterType="com.spfood.mms.intf.domain.criteria.ItemServiceForWms" >
					SELECT
						g.category_code AS item_code,
						g.category_name AS item_name,
						g.parent_category_code AS item_category_code,
						g.category_comment AS item_category_name,
						g.category_type_flag AS item_status,
						NULL AS item_specification_value,
						NULL AS item_specification_unit_first,
						NULL AS item_specification_unit_first_value,
						NULL AS item_specification_unit_second,
						NULL AS item_specification_unit_second_value,
						NULL AS item_buy_unit_name,
						NULL AS item_buy_unit_value,
						NULL AS item_temperature_zone_name,
						NULL AS item_temperature_zone_code,
						NULL AS item_gs1_code,
						NULL AS item_show_name,
						NULL AS item_terminal,
						NULL AS item_composite_flag,
						NULL AS item_price,
						NULL AS item_sales_price,
						NULL AS item_sales_amount,
						NULL AS item_quantity,
						NULL AS item_weight,
						NULL AS item_comment,
						NULL AS item_product_quantity,
						NULL AS item_search_property,
						NULL AS item_product_code,
						NULL AS item_shelf_life,
						NULL AS item_shelf_life_name,
						NULL AS item_shelf_life_value,
						NULL AS item_sale_date,
						NULL AS item_sale_date_name,
						NULL AS item_sale_date_value,
						NULL AS item_raw_materials_specification,
						g.category_another_name AS item_property_name,
						NULL AS item_property_value,
						NULL AS item_tax_rate_name,
						NULL AS item_tax_rate_value,
						0 AS data_source,
						2 AS item_type
					FROM
						mms_product_category AS g
					JOIN mms_mq_msg_temp AS h ON h.type_code = g.category_code
					WHERE
						h.send_date IS NULL
					AND h.type = 2
					GROUP BY
						g.category_code
					UNION ALL
						SELECT
							i.raw_materials_code AS item_code,
							i.raw_materials_name AS item_name,
							i.category_code AS item_category_code,
							j.category_name AS item_category_name,
							NULL AS item_status,
							i.raw_materials_specification_value AS item_specification_value,
							NULL AS item_specification_unit_first,
							NULL AS item_specification_unit_first_value,
							NULL AS item_specification_unit_second,
							NULL AS item_specification_unit_second_value,
							i.raw_materials_buy_unit_name AS item_buy_unit_name,
							i.raw_materials_buy_unit_code AS item_buy_unit_value,
							i.raw_materials_temperature_zone_name AS item_temperature_zone_name,
							i.raw_materials_temperature_zone_code AS item_temperature_zone_code,
							NULL AS item_gs1_code,
							NULL AS item_show_name,
							NULL AS item_terminal,
							i.raw_materials_type AS item_composite_flag,
							NULL AS item_price,
							NULL AS item_sales_price,
							NULL AS item_sales_amount,
							NULL AS item_quantity,
							NULL AS item_weight,
							NULL AS item_comment,
							NULL AS item_raw_materials_quantity,
							NULL AS item_search_property,
							NULL AS item_raw_materials_code,
							NULL AS item_shelf_life,
							NULL AS item_shelf_life_name,
							NULL AS item_shelf_life_value,
							NULL AS item_sale_date,
							NULL AS item_sale_date_name,
							NULL AS item_sale_date_value,
							NULL AS item_raw_materials_specification,
							l.raw_materials_property_name AS item_property_name,
							l.raw_materials_property_value AS item_property_value,
							NULL AS item_tax_rate_name,
							NULL AS item_tax_rate_value,
							0 AS data_source,
							3 AS item_type
						FROM
							mms_raw_materials AS i
						JOIN mms_product_category AS j ON i.category_code = j.category_code
						JOIN mms_mq_msg_temp AS k ON k.type_code = i.raw_materials_code
						LEFT JOIN mms_raw_materials_property AS l ON i.raw_materials_code = l.raw_materials_code
						AND l.raw_materials_property_name = '品牌'
						WHERE
							k.send_date IS NULL
						AND k.type = 3
						GROUP BY
							i.raw_materials_code
  </select>
  
    
  <select id="selectByRawMaterialsCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
		SELECT
			a.raw_materials_code AS item_code,
			a.raw_materials_name AS item_name,
			a.category_code AS item_category_code,
			b.category_name AS item_category_name,
			a.raw_materials_specification_value AS item_specification_value,
			a.raw_materials_specification_unit_first AS item_specification_unit_first,
			a.raw_materials_specification_unit_first_value AS item_specification_unit_first_value,
			a.raw_materials_specification_unit_second AS item_specification_unit_second,
			a.raw_materials_specification_unit_second_value AS item_specification_unit_second_value,
			a.raw_materials_buy_unit_name AS item_buy_unit_name,
			a.raw_materials_buy_unit_code AS item_buy_unit_value,
			a.raw_materials_temperature_zone_name AS item_temperature_zone_name,
			a.raw_materials_temperature_zone_code AS item_temperature_zone_code,
			
			a.shelf_life AS item_shelf_life,
			a.shelf_life_name AS item_shelf_life_name,
			a.shelf_life_value AS item_shelf_life_value,
			a.sale_date AS item_sale_date,
			a.sale_date_name AS item_sale_date_name,
			a.sale_date_value AS item_sale_date_value,
			a.raw_materials_specification AS item_raw_materials_specification,
			
			a.tax_rate_name AS item_tax_rate_name,
			a.tax_rate_value AS item_tax_rate_value,
			0 AS data_source,
			1 AS item_type
		FROM
			mms_raw_materials AS a
		JOIN mms_product_category AS b ON a.category_code = b.category_code
		WHERE
			a.raw_materials_code = #{productCode,jdbcType=VARCHAR};
  </select>
  
    <select id="selectByRawMaterialsCodeList" resultMap="BaseResultMap" parameterType="java.util.List" >
		SELECT
			a.raw_materials_code AS item_code,
			a.raw_materials_name AS item_name,
			a.category_code AS item_category_code,
			b.category_name AS item_category_name,
			a.raw_materials_specification_value AS item_specification_value,
			a.raw_materials_specification_unit_first AS item_specification_unit_first,
			a.raw_materials_specification_unit_first_value AS item_specification_unit_first_value,
			a.raw_materials_specification_unit_second AS item_specification_unit_second,
			a.raw_materials_specification_unit_second_value AS item_specification_unit_second_value,
			a.raw_materials_buy_unit_name AS item_buy_unit_name,
			a.raw_materials_buy_unit_code AS item_buy_unit_value,
			a.raw_materials_temperature_zone_name AS item_temperature_zone_name,
			a.raw_materials_temperature_zone_code AS item_temperature_zone_code,
			
			a.shelf_life AS item_shelf_life,
			a.shelf_life_name AS item_shelf_life_name,
			a.shelf_life_value AS item_shelf_life_value,
			a.sale_date AS item_sale_date,
			a.sale_date_name AS item_sale_date_name,
			a.sale_date_value AS item_sale_date_value,
			a.raw_materials_specification AS item_raw_materials_specification,
			
			a.tax_rate_name AS item_tax_rate_name,
			a.tax_rate_value AS item_tax_rate_value,
			0 AS data_source,
			1 AS item_type
		FROM
			mms_raw_materials AS a
		JOIN mms_product_category AS b ON a.category_code = b.category_code
		WHERE
			a.raw_materials_code in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		ORDER BY
		a.raw_materials_code ASC
  </select>
  
  <select id="selectByCommodityCodeForMQ" resultMap="BaseResultMap">
					SELECT
						g.category_code AS item_code,
						g.category_name AS item_name,
						g.parent_category_code AS item_category_code,
						g.category_comment AS item_category_name,
						g.category_type_flag AS item_status,
						NULL AS item_specification_value,
						NULL AS item_specification_unit_first,
						NULL AS item_specification_unit_first_value,
						NULL AS item_specification_unit_second,
						NULL AS item_specification_unit_second_value,
						NULL AS item_buy_unit_name,
						NULL AS item_buy_unit_value,
						NULL AS item_temperature_zone_name,
						NULL AS item_temperature_zone_code,
						NULL AS item_gs1_code,
						NULL AS item_show_name,
						NULL AS item_terminal,
						NULL AS item_composite_flag,
						NULL AS item_price,
						NULL AS item_sales_price,
						NULL AS item_sales_amount,
						NULL AS item_quantity,
						NULL AS item_weight,
						NULL AS item_comment,
						NULL AS item_product_quantity,
						NULL AS item_search_property,
						NULL AS item_product_code,
						NULL AS item_shelf_life,
						NULL AS item_shelf_life_name,
						NULL AS item_shelf_life_value,
						NULL AS item_sale_date,
						NULL AS item_sale_date_name,
						NULL AS item_sale_date_value,
						NULL AS item_raw_materials_specification,
						g.category_another_name AS item_property_name,
						NULL AS item_property_value,
						NULL AS item_tax_rate_name,
						NULL AS item_tax_rate_value,
						0 AS data_source,
						2 AS item_type
					FROM
						mms_product_category AS g
					JOIN mms_mq_msg_temp AS h ON h.type_code = g.category_code
					WHERE
						h.send_date IS NULL
					AND h.type = 2
					GROUP BY
						g.category_code
					UNION ALL
						SELECT
							i.raw_materials_code AS item_code,
							i.raw_materials_name AS item_name,
							i.category_code AS item_category_code,
							j.category_name AS item_category_name,
							NULL AS item_status,
							i.raw_materials_specification_value AS item_specification_value,
							NULL AS item_specification_unit_first,
							NULL AS item_specification_unit_first_value,
							NULL AS item_specification_unit_second,
							NULL AS item_specification_unit_second_value,
							i.raw_materials_buy_unit_name AS item_buy_unit_name,
							i.raw_materials_buy_unit_code AS item_buy_unit_value,
							i.raw_materials_temperature_zone_name AS item_temperature_zone_name,
							i.raw_materials_temperature_zone_code AS item_temperature_zone_code,
							NULL AS item_gs1_code,
							NULL AS item_show_name,
							NULL AS item_terminal,
							i.raw_materials_type AS item_composite_flag,
							NULL AS item_price,
							NULL AS item_sales_price,
							NULL AS item_sales_amount,
							NULL AS item_quantity,
							NULL AS item_weight,
							NULL AS item_comment,
							NULL AS item_raw_materials_quantity,
							NULL AS item_search_property,
							NULL AS item_raw_materials_code,
							NULL AS item_shelf_life,
							NULL AS item_shelf_life_name,
							NULL AS item_shelf_life_value,
							NULL AS item_sale_date,
							NULL AS item_sale_date_name,
							NULL AS item_sale_date_value,
							NULL AS item_raw_materials_specification,
							l.raw_materials_property_name AS item_property_name,
							l.raw_materials_property_value AS item_property_value,
							NULL AS item_tax_rate_name,
							NULL AS item_tax_rate_value,
							0 AS data_source,
							3 AS item_type
						FROM
							mms_raw_materials AS i
						JOIN mms_product_category AS j ON i.category_code = j.category_code
						JOIN mms_mq_msg_temp AS k ON k.type_code = i.raw_materials_code
						LEFT JOIN mms_raw_materials_property AS l ON i.raw_materials_code = l.raw_materials_code
						AND l.raw_materials_property_name = '品牌'
						WHERE
							k.send_date IS NULL
						AND k.type = 3
						GROUP BY
							i.raw_materials_code
  </select>
</mapper>